<h2 class="-font-blue -margin-bottom-medium -margin-top-large">Buttons</h2>

<div class="row">
  <div class="col-md-12">
    <h3>Large</h3>
    <div class="buttons-row-1">
      <div class="-padding-top-small -padding-bottom-small">
        <span class="sh-button -red -lg -full">
          <span>Click me!</span>
        </span>

        <span class="sh-button -red -lg -border">
          <span>Click me!</span>
        </span>

        <span class="sh-button -red -lg -link">
          <span>Click me!</span>
        </span>

        <span class="sh-button -red -lg -text">
          <span>Click me!</span>
        </span>

        <span class="sh-button -red -lg -text">
          <span><i class="fa fa-times-circle"></i> Random text</span>
        </span>
      </div>

      <div class="-padding-top-small -padding-bottom-small">
        <span class="sh-button -blue -lg -full">
          <span>Click me!</span>
        </span>

        <span class="sh-button -blue -lg -border">
          <span>Click me!</span>
        </span>

        <span class="sh-button -blue -lg -link">
          <span>Click me!</span>
        </span>

        <span class="sh-button -blue -lg -text">
          <span>Click me!</span>
        </span>

        <span class="sh-button -blue -lg -text">
          <span><i class="fa fa-exclamation-circle"></i> Random text</span>
        </span>
      </div>

      <div class="-padding-top-small -padding-bottom-small">
        <span class="sh-button -teal -lg -full">
          <span>Click me!</span>
        </span>

        <span class="sh-button -teal -lg -border">
          <span>Click me!</span>
        </span>

        <span class="sh-button -teal -lg -link">
          <span>Click me!</span>
        </span>

        <span class="sh-button -teal -lg -text">
          <span>Click me!</span>
        </span>

        <span class="sh-button -teal -lg -text">
          <span><i class="fa fa-check-circle"></i> Random text</span>
        </span>
      </div>

      <div class="-padding-top-small -padding-bottom-small">
        <span class="sh-button -gray -lg -full">
          <span>Click me!</span>
        </span>

        <span class="sh-button -gray -lg -border">
          <span>Click me!</span>
        </span>

        <span class="sh-button -gray -lg -link">
          <span>Click me!</span>
        </span>

        <span class="sh-button -gray -lg -text">
          <span>Click me!</span>
        </span>

        <span class="sh-button -gray -lg -text">
          <span><i class="fa fa-file"></i> Random text</span>
        </span>
      </div>
      <div class="row -padding-top-small -padding-bottom-small -background-secondary">
        <div class="col-sm-12">
          <span class="sh-button -white -lg -full">
            <span class="-text-secondary">Click me!</span>
          </span>

          <span class="sh-button -white -lg -border">
            <span>Click me!</span>
          </span>

          <span class="sh-button -white -lg -link">
            <span>Click me!</span>
          </span>

          <span class="sh-button -white -lg -text">
            <span>Click me!</span>
          </span>

          <span class="sh-button -white -lg -text">
            <span><i class="fa fa-thumbs-up"></i> Random text</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 -margin-top-large">
    <h3>Medium</h3>
    <div class="buttons-row-1">
      <div class="-padding-top-small -padding-bottom-small">
        <span class="sh-button -red -md -full">
          <span>Click me!</span>
        </span>

        <span class="sh-button -red -md -border">
          <span>Click me!</span>
        </span>

        <span class="sh-button -red -md -link">
          <span>Click me!</span>
        </span>

        <span class="sh-button -red -md -text">
          <span>Click me!</span>
        </span>

        <span class="sh-button -red -md -text">
          <span><i class="fa fa-times-circle"></i> Random text</span>
        </span>
      </div>

      <div class="-padding-top-small -padding-bottom-small">
        <span class="sh-button -blue -md -full">
          <span>Click me!</span>
        </span>

        <span class="sh-button -blue -md -border">
          <span>Click me!</span>
        </span>

        <span class="sh-button -blue -md -link">
          <span>Click me!</span>
        </span>

        <span class="sh-button -blue -md -text">
          <span>Click me!</span>
        </span>

        <span class="sh-button -blue -md -text">
          <span><i class="fa fa-exclamation-circle"></i> Random text</span>
        </span>
      </div>

      <div class="-padding-top-small -padding-bottom-small">
        <span class="sh-button -teal -md -full">
          <span>Click me!</span>
        </span>

        <span class="sh-button -teal -md -border">
          <span>Click me!</span>
        </span>

        <span class="sh-button -teal -md -link">
          <span>Click me!</span>
        </span>

        <span class="sh-button -teal -md -text">
          <span>Click me!</span>
        </span>

        <span class="sh-button -teal -md -text">
          <span><i class="fa fa-check-circle"></i> Random text</span>
        </span>
      </div>

      <div class="-padding-top-small -padding-bottom-small">
        <span class="sh-button -gray -md -full">
          <span>Click me!</span>
        </span>

        <span class="sh-button -gray -md -border">
          <span>Click me!</span>
        </span>

        <span class="sh-button -gray -md -link">
          <span>Click me!</span>
        </span>

        <span class="sh-button -gray -md -text">
          <span>Click me!</span>
        </span>

        <span class="sh-button -gray -md -text">
          <span><i class="fa fa-file"></i> Random text</span>
        </span>
      </div>
      <div class="row -padding-top-small -padding-bottom-small -background-secondary">
        <div class="col-sm-12">
          <span class="sh-button -white -md -full">
            <span class="-text-secondary">Click me!</span>
          </span>

          <span class="sh-button -white -md -border">
            <span>Click me!</span>
          </span>

          <span class="sh-button -white -md -link">
            <span>Click me!</span>
          </span>

          <span class="sh-button -white -md -text">
            <span>Click me!</span>
          </span>

          <span class="sh-button -white -md -text">
            <span><i class="fa fa-thumbs-up"></i> Random text</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 -margin-top-large">
    <h3>Small</h3>
    <div class="buttons-row-1">
      <div class="-padding-top-small -padding-bottom-small">
        <span class="sh-button -red -sm -full">
          <span>Click me!</span>
        </span>

        <span class="sh-button -red -sm -border">
          <span>Click me!</span>
        </span>

        <span class="sh-button -red -sm -link">
          <span>Click me!</span>
        </span>

        <span class="sh-button -red -sm -text">
          <span>Click me!</span>
        </span>

        <span class="sh-button -red -sm -text">
          <span><i class="fa fa-times-circle"></i> Random text</span>
        </span>
      </div>

      <div class="-padding-top-small -padding-bottom-small">
        <span class="sh-button -blue -sm -full">
          <span>Click me!</span>
        </span>

        <span class="sh-button -blue -sm -border">
          <span>Click me!</span>
        </span>

        <span class="sh-button -blue -sm -link">
          <span>Click me!</span>
        </span>

        <span class="sh-button -blue -sm -text">
          <span>Click me!</span>
        </span>

        <span class="sh-button -blue -sm -text">
          <span><i class="fa fa-exclamation-circle"></i> Random text</span>
        </span>
      </div>

      <div class="-padding-top-small -padding-bottom-small">
        <span class="sh-button -teal -sm -full">
          <span>Click me!</span>
        </span>

        <span class="sh-button -teal -sm -border">
          <span>Click me!</span>
        </span>

        <span class="sh-button -teal -sm -link">
          <span>Click me!</span>
        </span>

        <span class="sh-button -teal -sm -text">
          <span>Click me!</span>
        </span>

        <span class="sh-button -teal -sm -text">
          <span><i class="fa fa-check-circle"></i> Random text</span>
        </span>
      </div>

      <div class="-padding-top-small -padding-bottom-small">
        <span class="sh-button -gray -sm -full">
          <span>Click me!</span>
        </span>

        <span class="sh-button -gray -sm -border">
          <span>Click me!</span>
        </span>

        <span class="sh-button -gray -sm -link">
          <span>Click me!</span>
        </span>

        <span class="sh-button -gray -sm -text">
          <span>Click me!</span>
        </span>

        <span class="sh-button -gray -sm -text">
          <span><i class="fa fa-file"></i> Random text</span>
        </span>
      </div>
      <div class="row -padding-top-small -padding-bottom-small -background-secondary">
        <div class="col-sm-12">
          <span class="sh-button -white -sm -full">
            <span class="-text-secondary">Click me!</span>
          </span>

          <span class="sh-button -white -sm -border">
            <span>Click me!</span>
          </span>

          <span class="sh-button -white -sm -link">
            <span>Click me!</span>
          </span>

          <span class="sh-button -white -sm -text">
            <span>Click me!</span>
          </span>

          <span class="sh-button -white -sm -text">
            <span><i class="fa fa-thumbs-up"></i> Random text</span>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
