<div class="row -background-light -margin-top-large -padding-bottom-large">
  <div class="col-sm-12">
    <h2 class="-font-blue -padding-top-large -margin-bottom-medium">Cards</h2>
  </div>

  <div class="col-sm-12 col-md-4 -margin-bottom-medium">
    <div class="sh-card -sh-shadow-large">
      <div class="card-header">
        <img src="https://unsplash.it/400/200?image=11" alt="" />
      </div>
      <div class="card-body">
        <div class="card-title">
          <h3>My First Project</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa nulla voluptate praesentium aperiam, odit cumque perspiciatis mollitia voluptas illum nihil nostrum quo ut minima!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 -margin-bottom-medium">
    <div class="sh-card -sh-shadow-large">
      <div class="card-header">
        <img src="https://unsplash.it/400/200?image=15" alt="" />
      </div>
      <div class="card-body">
        <div class="card-title">
          <h3>My First Project</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa nulla voluptate praesentium aperiam, odit cumque perspiciatis mollitia voluptas illum nihil nostrum quo ut minima!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 -margin-bottom-medium">
    <div class="sh-card -sh-shadow-large">
      <div class="card-header">
        <img src="https://unsplash.it/400/200?image=17" alt="" />
      </div>
      <div class="card-body">
        <div class="card-title">
          <h3>My First Project</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa nulla voluptate praesentium aperiam, odit cumque perspiciatis mollitia voluptas illum nihil nostrum quo ut minima!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 -margin-bottom-medium">
    <div class="sh-card -sh-shadow-large">
      <div class="card-header">
        <img src="https://unsplash.it/400/300?image=11" alt="" />
        <div class="card-title">
          <h3>My First Project</h3>
        </div>
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa nulla voluptate praesentium aperiam, odit cumque perspiciatis mollitia voluptas illum nihil nostrum quo ut minima!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 -margin-bottom-medium">
    <div class="sh-card -sh-shadow-large">
      <div class="card-header">
        <img src="https://unsplash.it/400/300?image=15" alt="" />
        <div class="card-title">
          <h3>My First Project</h3>
        </div>
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa nulla voluptate praesentium aperiam, odit cumque perspiciatis mollitia voluptas illum nihil nostrum quo ut minima!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 -margin-bottom-medium">
    <div class="sh-card -sh-shadow-large">
      <div class="card-header">
        <img src="https://unsplash.it/400/300?image=17" alt="" />
        <div class="card-title">
          <h3>My First Project</h3>
        </div>
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa nulla voluptate praesentium aperiam, odit cumque perspiciatis mollitia voluptas illum nihil nostrum quo ut minima!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-3">
    <div class="sh-card -sh-shadow-medium">
      <div class="card-header">
        <img src="https://unsplash.it/400/300?image=17" alt="" />
      </div>
      <div class="card-body">
        <div class="card-title">
          <h3>My First Project</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa nulla voluptate praesentium aperiam, odit cumque perspiciatis mollitia voluptas illum nihil nostrum quo ut minima!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="sh-card -sh-shadow-medium">
      <div class="card-header">
        <img src="https://unsplash.it/400/300?image=17" alt="" />
      </div>
      <div class="card-body">
        <div class="card-title">
          <h3>My First Project</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa nulla voluptate praesentium aperiam, odit cumque perspiciatis mollitia voluptas illum nihil nostrum quo ut minima!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="sh-card -sh-shadow-medium">
      <div class="card-header">
        <img src="https://unsplash.it/400/300?image=17" alt="" />
      </div>
      <div class="card-body">
        <div class="card-title">
          <h3>My First Project</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa nulla voluptate praesentium aperiam, odit cumque perspiciatis mollitia voluptas illum nihil nostrum quo ut minima!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="sh-card -sh-shadow-medium">
      <div class="card-header">
        <img src="https://unsplash.it/400/300?image=17" alt="" />
      </div>
      <div class="card-body">
        <div class="card-title">
          <h3>My First Project</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsa nulla voluptate praesentium aperiam, odit cumque perspiciatis mollitia voluptas illum nihil nostrum quo ut minima!</p>
      </div>
    </div>
  </div>
</div>
