<h2 class="-font-blue -margin-bottom-medium -margin-top-large">Loader Buttons</h2>

<div class="row">
  <div class="col-md-3">
    <span class="sh-button -red -lg -full -block-all"
      ng-class="{ '-loading' : test.redButtonLoading }"
      ng-click="test.redButtonLoading = !test.redButtonLoading">
      <span>Click me!</span>
      <span>Loading...</span>
    </span>

    <span class="sh-button -red -md -full -block-all -margin-top-medium"
      ng-class="{ '-loading' : test.redButtonLoading }"
      ng-click="test.redButtonLoading = !test.redButtonLoading">
      <span>Click me!</span>
      <span>Loading...</span>
    </span>

    <span class="sh-button -red -sm -full -block-all -margin-top-medium"
      ng-class="{ '-loading' : test.redButtonLoading }"
      ng-click="test.redButtonLoading = !test.redButtonLoading">
      <span>Click me!</span>
      <span>Loading...</span>
    </span>
  </div>

  <div class="col-md-3">
    <span class="sh-button -blue -lg -full -block-all"
      ng-class="{ '-loading' : test.blueButtonLoading }"
      ng-click="test.blueButtonLoading = !test.blueButtonLoading">
      <span>Click me!</span>
      <span>Loading...</span>
    </span>

    <span class="sh-button -blue -md -full -block-all -margin-top-medium"
      ng-class="{ '-loading' : test.blueButtonLoading }"
      ng-click="test.blueButtonLoading = !test.blueButtonLoading">
      <span>Click me!</span>
      <span>Loading...</span>
    </span>

    <span class="sh-button -blue -sm -full -block-all -margin-top-medium"
      ng-class="{ '-loading' : test.blueButtonLoading }"
      ng-click="test.blueButtonLoading = !test.blueButtonLoading">
      <span>Click me!</span>
      <span>Loading...</span>
    </span>
  </div>

  <div class="col-md-3">
    <span class="sh-button -teal -lg -full -block-all"
      ng-class="{ '-loading' : test.tealButtonLoading }"
      ng-click="test.tealButtonLoading = !test.tealButtonLoading">
      <span>Click me!</span>
      <span>Loading...</span>
    </span>

    <span class="sh-button -teal -md -full -block-all -margin-top-medium"
      ng-class="{ '-loading' : test.tealButtonLoading }"
      ng-click="test.tealButtonLoading = !test.tealButtonLoading">
      <span>Click me!</span>
      <span>Loading...</span>
    </span>

    <span class="sh-button -teal -sm -full -block-all -margin-top-medium"
      ng-class="{ '-loading' : test.tealButtonLoading }"
      ng-click="test.tealButtonLoading = !test.tealButtonLoading">
      <span>Click me!</span>
      <span>Loading...</span>
    </span>
  </div>

  <div class="col-md-3">
    <span class="sh-button -gray -lg -full -block-all"
      ng-class="{ '-loading' : test.grayButtonLoading }"
      ng-click="test.grayButtonLoading = !test.grayButtonLoading">
      <span>Click me!</span>
      <span>Loading...</span>
    </span>

    <span class="sh-button -gray -md -full -block-all -margin-top-medium"
      ng-class="{ '-loading' : test.grayButtonLoading }"
      ng-click="test.grayButtonLoading = !test.grayButtonLoading">
      <span>Click me!</span>
      <span>Loading...</span>
    </span>

    <span class="sh-button -gray -sm -full -block-all -margin-top-medium"
      ng-class="{ '-loading' : test.grayButtonLoading }"
      ng-click="test.grayButtonLoading = !test.grayButtonLoading">
      <span>Click me!</span>
      <span>Loading...</span>
    </span>
  </div>
</div>
