<h2 class="-font-blue -margin-bottom-medium -margin-top-large">Panels</h2>

<div class="sh-panel -lg">
  <div class="panel-header">
    <h1>This is a message</h1>
    <h2>Stop fiddling around</h2>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati voluptatibus sequi, ad officiis doloribus suscipit consequuntur deleniti corrupti consequatur pariatur omnis eos impedit ducimus mollitia.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati voluptatibus sequi, ad officiis doloribus suscipit consequuntur deleniti corrupti consequatur pariatur omnis eos impedit ducimus mollitia.</p>
  <div class="panel-footer">
    <span class="sh-button -red -sm -full">
      <span>Try again</span>
    </span>

    <span class="sh-button -sm -full">
      <span>See on Behance</span>
    </span>
  </div>
</div>

<div class="sh-panel -md">
  <div class="panel-header">
    <h3>Get on with it</h3>
  </div>
  <p>Why dont you try something else</p>
</div>

<div class="sh-panel -sm">
  <div class="panel-header">
    <h4>Get on with it</h4>
  </div>
  <p>Why dont you try something else</p>
</div>
