<div class="sh-portfolio-view sh-container container">
	<header>
		<h1 class="-text-tertiary">Projects</h1>
		<h2 class="-h4 -margin-top-small">Here is a selection of my work</h2>
	</header>

	<main>
		<section>
			<div class="row">
				<div class="portfolio-item col-sm-6 col-md-4"
					ng-repeat="project in portfolio.projects | limitTo : portfolio.page * portfolio.pageSize"
					ng-click="portfolio.openProject( project )">
					<div class="item-container"
						ng-class="{ '-loading' : project.loading }"
						style="background-image: url( {{ project.covers['404'] }} )">
						<div class="item-label">
							<h3>{{ project.name }}</h3>
						</div>
						<div class="item-link">
							<div class="wrapper">
								<div class="inner">
									<p class="intro">Read more</p>
									<p class="full">{{ project.name }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div ng-show="portfolio.loading && !portfolio.projects">
					<div class="portfolio-item -mock col-sm-6 col-md-4"
						ng-repeat="project in [1, 2, 3, 4, 5, 6]">
						<div class="item-container">
							<div class="item-label"></div>
						</div>
					</div>
				</div>

				<div ng-show="portfolio.loading">
					<div ng-include src="'views/partials/sh-loader.html'"></div>
				</div>
			</div>

			<sh-modal
				main-text="{{ portfolio.currentProject.name }}"
				sub-text="{{ portfolio.currentProject.fields | addDash }}"
				background-color="blue"
				show-on="portfolio.showPortfolioItem"
				class="project-modal">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<img style="width: 100%" ng-src="{{ portfolio.currentProject.covers['404'] }}" alt="{{ portfolio.currentProject.name }}" />
					</div>
					<div class="paragraph-column col-sm-12 col-md-6">
						<p>
							{{ portfolio.currentProject.description }}
						</p>

						<div class="paragraph-footer -margin-top-medium">
							<a ng-href="{{ portfolio.currentProject.url }}" target="_blank"
								class="sh-button -red -md -full -block-sm">
								<span>See it on Behance</span>
							</a>
							<span class="sh-button -gray -link -md -block-sm -margin-top-medium-sm"
								ng-click="portfolio.showPortfolioItem = false; lockScroll.desktop = false">
								<span>Close</span>
							</span>
						</div>
					</div>
				</div>
		  </sh-modal>

			<div class="portfolio-next -margin-top-large"
				ng-show="portfolio.projects && portfolio.projects.length > 0 && !portfolio.error && (portfolio.page * portfolio.pageSize < portfolio.projects.length)">
				<span class="sh-button -red -lg -full -block-sm"
					ng-click="portfolio.nextPage()">
					<span>Load more</span>
				</span>
			</div>

			<div class="sh-panel -md -margin-top-big"
				ng-show="portfolio.error && !portfolio.loading">
				<div class="panel-header">
					<p class="-h2">Oops, something went wrong</p>
				</div>

				<div class="panel-body">
					<p>There was a problem trying to fetch projects.
					Want to try again?</p>
				</div>

				<div class="panel-footer">
					<span class="sh-button -red -md -full -block-sm"
						ng-click="portfolio.doSearch()">
						<span>Try again</span>
					</span>

					<a class="sh-button -gray -md -full -block-sm -margin-top-medium-sm"
						href="https://www.behance.net/sebastianholgado" target="_blank">
						<span>See it on Behance</span>
					</a>
				</div>
			</div>
		</section>

		<section class="portfolio-opensource">
			<h2>Open Source</h2>
			<ul class="repositories">
				<li class="sh-panel -sm"
					ng-repeat="repository in github.repositories">
					<div class="repository-info">
							<h3><a class="sh-link" target="_blank" ng-href="{{ repository.html_url }}">{{ repository.name }}</a></h3>
							<span ng-if="repository.homepage" class="-hide-xs">- <a target="_blank" ng-href="{{ repository.homepage }}" class="-text-secondary">View demo</a></span>
							<p>{{ repository.description }}</p>
					</div>
					<div class="repository-stats -hide-xs">
						<span>
							{{ repository.watchers }}
							<i class="fa fa-eye"></i>
						</span>
						<span>
							{{ repository.stargazers_count }}
							<i class="fa fa-star"></i>
						</span>
						<span>
							{{ repository.forks }}
							<i class="fa fa-code-fork"></i>
						</span>
					</div>
				</li>
			</ul>
		</section>

	</main>
</div>
